<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia Lab 3</title>
</head>
<body>
    <center>
        <br><br><br>
        <img src="/html/images/Wuher.webp" alt="Wuher">

        <p>Bienvenidos amigos, les ofrezco las mejores bebidas de la ciudad, que desean?</p>

        <a href="milkshake.html">MilkShake</a>
        <br><br>
        <a href="bantha.html">Bantha</a>
    </center>

    <footer>
        <a href="mos_eisley.html">Regresar</a>
    </footer>
</body>
</html>