<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia Lab 3</title>
</head>
<body>
        

    <center>
        <p>Llegamos pero, parece que no hay muchas personas que se quieran unir a la rebelión por acá, deberíamos buscar en otra parte 👀</p>

        <img src="../images/tatooine_c.webp" alt="Centro tatooine">
    </center>

    <footer>
        <a href="tatooine.html">Regresar</a>
    </footer>

    
</body>
</html>