<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia Lab 3</title>
</head>
<body>
    <center>
        <img src="../images/ray_despedida.jpeg" alt="Ray">
        <p>Gracias por todo amigo, sin tu ayuda no hubiera encontrado a Greedo y derrotado a los sith, nos vemos y que la fuerza te acompañe</p>
        <br><br><br>

        <h1>FIN</h1>
    </center>

    <footer>
        <a href="../index.html">Final</a>
    </footer>
</body>
</html>