<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia Lab 3</title>
</head>
<body>
    <center>
        <br><br><br>
        <p>Greedo: Creo que le di a uno... <br> Ray ya solo queda el ultimo sith, acabalo </p>
        <br><br>
        <img src="/html/images/baylan.jpeg" alt="Baylan">
        <br><br>
        <p>Baylan: Acabaré contigo Ray</p>
        <br></br>
        <img src="/html/images/ray_final.jpeg" alt="Ray">
        <br><br>
        <p>Ray: No tendrás oportunidad contra mi Baylan, todos los jedi habitan en mi...Jaaaaa</p>
        <br></br>
        <p>Greedo: Grandioso Ray acabmos con los sobrevivientes</p>
        <br><br>
        <a href="despedida.html">Continuar...</a>
    </center>
</body>
</html>