<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia Lab 3</title>
</head>
<body>
    
    <center>
        <img src="../images/greedo.jpeg" alt="greedo">

        <p>Greedo: Sea lo que sea no me interesa.</p>
        <br>
        <p>Ray: Oye, necesitamos tu ayuda, si no, los sobrevibientes del lado oscuro construiran un nuevo imperio y los sith renaceran.</p>
        <br>
        <p>Greedo: Esta bien, mi nave esta en el patio trasero, cuando me digas iniciamos el viaje.</p>
        <br><br>
        <p>Ray: Excelente.</p>

        <a href="viaje.html">Iniciar viaje</a>
    </center>

    <footer>
        <a href="mos_eisley.html">Regresar</a>
    </footer>
</body>
</html>