<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia Lab 3</title>
</head>
<body>
    <center>
        
        <h1>En busca de nuevos refuerzos</h1>

        <p>
            Ahora Ray debe de ir en busca de nuevos refuerzos, a donde debe ir, al centro de tatooine o por las montañas rocosas?
        </p>

        <a href="tatooine.html">
            <img src="/html/images/tataouine.webp" alt="tatooine">
        </a> <p>Tatooine</p>

        <br>
        <br>

        <a href="montañas_rocosas.html">
            <img src="/html/images/montañas_r.webp" alt="montañas rocosas">
        </a> <p>Montañas rocosas</p>
        
    </center>

    <footer>
        <a href="index.html">Regresar</a>
    </footer>

  

   
</body>
</html>