<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia Lab 3</title>
</head>
<body>
    
    <center>

        <br><br><br><br><br>
        <img src="../images/mos_eisley_p.webp" alt="Tipos malos de la cantina">

        <p>Upsss, como que no le caemos bien a esta gente, será mejor que nos vayamos de aquí antes de que se ponga peor esta situación.</p>
    </center>

    <footer>
        <a href="mos_eisley.html">Regresar</a>
    </footer>

</body>
</html>