<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia Lab 3</title>
</head>
<body>
    <center>
        <h1>Bienvenidos a Mos Eisley!!</h1>

        <img src="../images/mos_eisley.webp" alt="mos eisley">

        <p>Hacia donde vamos?</p>

        <a href="mos_eisley_p.html">Izquierda</a>
        <br><br>
        <a href="barra_mos.html">Barra</a>
        <br><br>
        <a href="reclutas_mos.html">Derecha</a>
    </center>
</body>
</html>