<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia Lab 3</title>
</head>
<body>
    <center>
        <img src="/html/images/reclutas_mos.jpeg" alt="Reclutas">
        <p>Wow, aca podríamos encontrar al indicado, espera, el que esta por allá no es uno de los mejores combatientes de la galaxia!? Deríamos de preguntarle si nos acompaña a terminar con los sobrebivientes sith!!!</p>

        <a href="greedo.html">Hablar con el guerrero</a>
    </center>

    <footer>
        <a href="mos_eisley.html">Regresar</a>
    </footer>
</body>
</html>