<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia Lab 3</title>
</head>
<body>
    <center>
        <img src="/html/images/viaje.webp" alt="Viaje">

        <p>Excelente, ahora vamos de camino en donde estan los ultimos sobrebivientes, preparense!!</p>
        <br><br>
        <p>Greedo: Saliendo de la velocidad de la luz en 3, 2, 1..</p>
        <br><br>
        <img src="/html/images/Nebulosa.webp" alt="Nebulosa">
        <p>Ray: Puedo ver el planeta, vamos, debemos de entrar en el</p>
        <br><br>
        <p>Greedo: Creo que ya puedo ver a los sobrebivientes</p>
        <br><br>
        <img src="/html/images/sobrevivientes.jpeg" alt="sobrevibientes">
        <br><br>
        <a href="final.html">Al ataque!!!</a>
    </center>

    <footer>
        <a href="greedo.html">Regresar</a>
    </footer>
</body>
</html>